@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
    /** Generic */
    --primary-color: #4E944F;
    --secondary-color: #83BD75;
    --danger-color: #C84B31;
    --light-color: #fff;
    --yellow-color: #E7B10A;
    --gray-bg-color: #E6E6E6;
    --gray-text-color: #7C7878;
    --main-dark: #212121;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-strong: 600;

    /** Custom */
    --banner-bg-color: #E9EFC0;
    --footer-bg-color: rgba(78, 148, 79, 0.20);

    --body-font: 'Poppins', sans-serif;
    --body-bg-color: #fff;

    --general-padding: 1rem;
    --main-side-padding: 4.06rem;
    --general-border-radius: 1.25rem;
}

/** Base */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

body {
    font-family: var(--body-font);
    max-width: 1280px;
    margin: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--main-dark);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

header {
    padding: 2.81rem var(--main-side-padding);
}

main {
    padding: 0px var(--main-side-padding);
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    border-radius: var(--general-border-radius);
    cursor: pointer;
}

/** Reusable styles */

.btn {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: none;
    transition: box-shadow .1s;
}

.btn:hover{
    box-shadow: 1px 3px 10px gray;
}

.btn-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: background-color .5s, color .5s;
}

.btn-outline:hover, 
.gray-btn:hover{
    background-color: var(--primary-color);
    color: var(--light-color);
}

.gray-btn{
    background-color: var(--gray-bg-color);
    color: var(--gray-text-color);
    transition: background-color .5s, color .5s;
}

/** ================================================ */

/** HEADER */


header {
    display: flex;
    justify-content: space-between;
}

.header__logo{
    width: 9.1rem;
    height: 1.75rem;
}

.header__list{
    display: flex;
    gap: 2rem;
    font-size: 1.25rem;
    font-weight: var(--font-weight-normal);
    color: var(--main-dark)
}

.header__list-link.active::after{
    content: '';
    display: block;
    width: 0%;
    height: 0.125rem;
    background-color: var(--primary-color);
    animation: show-underline-menu 0.5s forwards linear;
}

@keyframes show-underline-menu {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.header__buy-section{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.header__btn {
    font-size: 1.25rem;
    padding: 0.7rem 1.25rem;
}

.header__shopping-cart {
    font-size: 1.75rem;
    font-weight: var(--font-weight-normal);
}

/** HERO */

.hero__container{
    position: relative;
    display: flex;
    height: 23.25rem;
    background-color: var(--banner-bg-color);
    border-radius: var(--general-border-radius);
}

.hero__container > img {
    position: absolute;
}

.hero__text-container{
    margin: 3.44rem 4.06rem;
}

.hero__title {
    font-size: 3rem;
    font-weight: var(--font-weight-strong);
}

.hero__sub-title {
    font-size: 2.5rem;
    font-weight: var(--font-weight-normal);
}

.hero__caption {
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
}

.hero__salad-img {
    height: 27.44rem;
    width: 45.63rem;
    bottom: -5rem;
    right: -4rem;
}

.hero__tomato-img {
    width: 11.3rem;
    height: 7.7rem;
    bottom: 1.2rem;
    right: 27rem;
}

/** POPULAR FOODS */

.popular-foods__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.popular-foods__title{
    font-size: 2rem;
    font-weight: var(--font-weight-strong);
    margin-bottom: 1.06rem;
}

.popular-foods__categories {
    display: flex;
}

.popular-foods__categories-link {
    font-size: 1.25rem;
    padding: 0.6rem 1.5rem;
    font-weight: var(--font-weight-medium);
    cursor: pointer;
    border-radius: var(--general-border-radius);
    transition: color .3s, background-color .5s;
}

.popular-foods__categories-link.active{
    background-color: var(--secondary-color);
    color: var(--light-color);   
}

.popular-foods__secondary-container {
    display: flex;
    margin-top: 5rem;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-foods__dishes-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.popular-foods__btn {
    font-size: 1.5rem;
    padding: 1.2rem;
    height: 2rem;
    width: 2rem;
}

.popular-foods__btn[disabled] {
    background-color: var(--gray-bg-color);
    color: var(--gray-text-color);
}

.popular-foods__dishes-list{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.popular-foods__dish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 12.8rem;
    width: 10.9rem;
    margin-top: 2rem;
    padding-top: 4rem;
    border-radius: var(--general-border-radius);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.10), 0px 5px 11px 0px rgba(0, 0, 0, 0.10), 0px 19px 19px 0px rgba(0, 0, 0, 0.09), 0px 44px 26px 0px rgba(0, 0, 0, 0.05), 0px 77px 31px 0px rgba(0, 0, 0, 0.01), 0px 121px 34px 0px rgba(0, 0, 0, 0.00);

}

.popular-foods__dish img{
    position: absolute;
    width: 10rem;
    height: 10.4rem;
    right: 5px;
    top: -5rem;
}

.popular-foods__all-products-btn {
    width: fit-content;
}

.popular-foods__dish-title {
    font-weight: var(--font-weight-normal);
}

.popular-foods__stars {
    color: var(--yellow-color);
    font-size: 1.3rem;
}

.popular-foods__stars>i{
    cursor: pointer;
}

.popular-foods__footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    padding: 0 2rem;
}

.popular-foods__current-price {
    font-weight: var(--font-weight-strong);
}

.popular-foods__old-price {
    text-decoration: line-through;
    color: var(--gray-text-color);
}

.popular-foods__cart{
    background-color: var(--danger-color);
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .3rem;
    border-radius: 50%;
    cursor: pointer;
}

.popular-foods__all-products-btn {
    font-size: 1.25rem;
    font-weight: var(--font-weight-normal);
    margin-top: 4rem;
}

/** REVIEWS */

.feedbacks{
    margin-top: 5.81rem;
    width: 100%;
    height: 29.6875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedbacks__side-banner{
    background-color: var(--banner-bg-color);
    border-radius: 50%;
    width: 29.6875rem;
    height: 29.6875rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.feedbacks__side-banner > img{
    width: 20rem;
}

.feedbacks__comments-section{
    width: 28.1rem;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;

}

.feedbacks__comments-section > h3{
    font-size: 2rem;
    font-weight: var(--font-weight-strong);
}

.feedbacks__comment-author-img{
    width: 3.3125rem;
    height: 3.3125rem;
    border-radius: 50%;
}

.feedbacks__comment-author{
    display: flex;
    gap: 1.25rem;
}

.feedbacks__comment-author-name{
    font-weight: var(--font-weight-strong);
}

.feedbacks__comment-rate-container{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.feedbacks__comment-rate-number{
    padding-top: 0.2rem;
    font-weight: var(--font-weight-strong);
}

.feedbacks__comment-rate-stars{
    color: var(--yellow-color);
}

.feedbacks__comment-text{
    margin-top: .75rem;
    color: var(--gray-text-color);
}

.feedbacks__comments-navigation{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


.feedbacks__comments-btn{
    font-size: 1.5rem;
    padding: 1.2rem;
    height: 2rem;
    width: 2rem;
}